<div data-ng-show="vm.fail" id="error">
	<p>{{ vm.failMessage }}</p>
</div>

<h2>Restaurant of the day</h2>

<button data-ng-click="vm.result()" id="result">To see the result, click here.</button>

<div data-ng-if="vm.restaurantOfTheDay" id="success-result">
	<p>{{ vm.restaurantOfTheDay }}</p>
</div>

<h2>Choose one</h2>

<div data-ng-show="vm.success" id="success-vote">
	<p>Your vote was confirmed! :)</p>
</div>

<ul>
	<li data-ng-repeat="restaurant in vm.restaurants">
		<button data-ng-click="vm.vote(restaurant.id)" ng-if="restaurant.canVote">{{ restaurant.name }}</button>
		
		<div ng-if="!restaurant.canVote">
			{{ restaurant.name }} (it has been chosen this week).
		</button>
	</li>
</ul>